
p {

	font-size: 12pt;
	color: black;
	text-align: left;
	margin-top: 1pt;
	margin-bottom: 2pt;	
	padding-left: 10pt;
	margin-right: 10pt;

}

body {
	padding-left: 50pt;
	padding-right: 50pt;
	text-indent: 0pt;
	font-family: Times, Helvetica,Arial,sans-serif;
	background-color: #F5FFFA;
	margin-right: 10pt;
}

.section-header {
	font-size: 16pt;
	color: #000000;
	font-weight: bold;
	padding-left: 10pt;
	margin-top: 0pt;
}

.description {
	font-size: 12pt;
	color: #000000;
	padding-left: 10pt;
}

.subheader {
	font-size: 16pt;
	font-weight: bold;
	margin-top: 0;
	padding-left: 10pt;
}

.position {
	font-size: 16;
	font-style: italic;
	font-weight: lighter;
	margin-top: 0;
	margin-bottom: 1pt;
	padding-left: 10pt;
}

h1 {
	padding-bottom: 0;
	padding-top: 0;
	margin-bottom: 0pt;
}

h2 {
	padding-bottom: 0pt;
	padding-top: 0;
	font-weight: lighter;
	font-size: 16pt;
	margin-top: 0pt;
	margin-bottom: 4pt;
}

.subheader {
	font-size: 14pt;
	font-weight: bold;
	margin-top: 2pt;
	margin-bottom: 1pt;
}

.right-column {
	text-align: right;
}



#skills {
	columns: 2;
	list-style-position: inside;
	padding-left: 18pt;
}


#projects {
	list-style-position: outside;
	padding-left: 30pt;
	margin-right: 10pt;
}
li {
	font-size: 12pt;
}

.top {
	text-indent: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	color: #FFFFFF;
	background-color: #191970;
}


h1.top {
	padding-top: 25pt;
	padding-left: 20pt;
}

h2.top {
	padding-bottom: 25pt;
	padding-left: 20pt;
}

hr {
	border-color: #191970; 
	border-style: double;
	border-width: 1px;
	margin-bottom: 2pt;
	margin-top: 2pt;

}

hr.divider {
	margin-bottom: 5pt;
	margin-top: 5pt;
}

div.main {
	background-color: #FFFFFF;
	/*border-left: 10px solid red;
	border-left-style: dashed;
	border-color: #40E0D0; */

}


div.segments {
	padding-top: 2px;
	padding-bottom: 2px;
	border-left: 3px solid black;
	border-right: 3px solid black;
}

.job {
	padding-bottom: 10pt;
}

h5 {
	font-size: 12pt;
	font-weight: lighter;
	font-style: italic;
	margin-top: 5pt;
	margin-bottom: 3pt;
	padding-left: 10%;
}

.citation {
	font-size: 12pt;
	padding-left: 10%;
	margin-bottom: 6pt;

}

.myname {
	font-weight: bold;
}


















