body {
	background-color: #F5FFFA;
	padding-left: 40pt;
	padding-right: 40pt;
	font-family: Times, Helvetica,Arial,sans-serif;
}

h1 {
	padding-top: 30pt;
	padding-bottom: 12pt;
	margin-bottom: 0pt;
	height: 50pt;
	background-color: #191970;
	padding-right: 20pt;
	padding-left: 20pt;
	font-size: 25pt;
	color: #FFFFFF;
}

h1.home {
	padding-bottom: 0pt;
	height: 30pt;

}

h4.home {
	margin-top: 0pt;
	padding-top: 0pt;
	padding-bottom: 12pt;
	background-color: #191970;
	padding-left: 170pt;
	font-size: 12pt;
	color: #FFFFFF;
	font-style: italic;
}

p {
	font-size: 14pt;
}

p.bio {
	text-indent: 25pt;
}

hr {
	border-color: #191970; 
	border-style: double;
	border-width: 1px;
	margin-bottom: 2pt;
	margin-top: 2pt;

}

img {
	display: block;
	margin-left: 0pt;
	margin-right: 10pt;
	margin-bottom: 10pt;
	margin-top: 10pt;
	border-radius: 8px;
}

div.image {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.one {
	height: 5%;
	width: 5%;
	padding-right: 0pt;
	flex-grow: 2;
}

.two {
	width: 80%;
	flex-grow: 1;
	border: 1px dashed black;
	padding-left: 10pt;
	margin-bottom: 0pt;
	text-align: center;
}

.three {
	width: 80%;
	flex-grow: 1;
	padding-left: 0pt;
	border: 1px dashed black;
	padding-left: 10pt;
	margin-top: 10pt;
	text-align: center;


}

div.link {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-self: flex-start;
	align-items: center;
}






